﻿@model WebApplication1.Models.Domain.Ride

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ride</h4>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            

            <div>
                <div>
                    Travel From : <input id="travelfrom" type="text" name="name" value="" />
                    To : <input id="travelto" type="text" name="name" value="" />

                    <input type="button" value="Get Route" onclick="GetRoute()" />

                </div>
                <br />
                <div>
                    <div id="dvDistance">
                    </div>
                </div>

            </div>

            <div id="dvMap" style="min-height:500px"></div>

            <select class="form-control" name="category">
                <option value="ECONOMY">Economy</option>
                <option value="BUSINESS">Business</option>
                <option value="LUXURY">Luxury</option>
            </select>

                <input type="submit" value="Choose Category" class="form-control" />
            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

@section scripts{

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDjT6SuGAWgmlh2L7DPC9v60_gaF-bzqPc" type="text/javascript"></script>

    <script>


        var source, destination;
        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();


        var map = new google.maps.Map(document.getElementById('dvMap'), {
            center: { lat: 35.876811, lng: 14.503165 },
            zoom: 13,
            mapTypeId: 'roadmap'
        });

        google.maps.event.addDomListener(window, 'load', function () {
            new google.maps.places.SearchBox(document.getElementById('travelfrom'));
            new google.maps.places.SearchBox(document.getElementById('travelto'));
            directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': true });
        });

        function GetRoute() {

            directionsDisplay.setMap(map);

            source = document.getElementById("travelfrom").value;
            destination = document.getElementById("travelto").value;

            var request = {
                origin: source,
                destination: destination,
                travelMode: google.maps.TravelMode.DRIVING
            };

            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                }
            });


            var service = new google.maps.DistanceMatrixService();
            service.getDistanceMatrix({
                origins: [source],
                destinations: [destination],
                travelMode: google.maps.TravelMode.DRIVING,
                unitSystem: google.maps.UnitSystem.METRIC,
                avoidHighways: false,
                avoidTolls: false
            }, function (response, status) {

                if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
                    var distance = response.rows[0].elements[0].distance.text;
                    var duration = response.rows[0].elements[0].duration.value;
                    var dvDistance = document.getElementById("dvDistance");
                    duration = parseFloat(duration / 60).toFixed(2);
                    dvDistance.innerHTML = "";
                    dvDistance.innerHTML += "Distance: " + distance + "<br />";
                    dvDistance.innerHTML += "Time:" + duration + " min";

                } else {
                    alert("Unable to find the distance via road.");
                }
            });
        }

    </script>
}