﻿@model WebApplication1.Models.Domain.Driver

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Driver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <select class="form-control" asp-for="Type">
                <option value="ECONOMY">Economy</option>
                <option value="BUSINESS">Business</option>
                <option value="LUXURY">Luxury</option>
            </select>

            <div class="form-group">
                <label class="control-label">Capacity</label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Condition</label>
                <input asp-for="Condition" class="form-control" />
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Plate</label>
                <input asp-for="Plate" class="form-control" />
                <span asp-validation-for="Plate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">WIFi</label>
                <input type="checkbox" asp-for="Wifi" class="form-control" />
                <span asp-validation-for="Wifi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">AC</label>
                <input type="checkbox" asp-for="AC" class="form-control" />
                <span asp-validation-for="AC" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Food/Drinks</label>
                <input type="checkbox" asp-for="Food" class="form-control" />
                <span asp-validation-for="Food" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Upload Photo Of Car</label>
                <input type="file" name="logo" asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
